@import "./assets/scss/main.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


header {
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
  padding: 30px;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

main {
  font-family: 'Roboto Mono', monospace
}

footer {
  font-family: 'Roboto Mono', monospace;
}

body {
  overflow-x: hidden;
}

.home {
  display: grid;
  height: 80vh;
  place-content: center;
  text-align: center;
  user-select: none;
}

/* SECTION About Me */
.about-me {
  min-height: 115vh;
  position: relative;
}

.about-title {
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  top: 25%;
  left: -40vw;
  user-select: none;
}

.about-text {
  position: absolute;
  top: 29%;
  font-size: 17px;
  right: -100vw;
}

.info-text {
  font-size: 20px;
}

.title-text {
  font-weight: 600;
}

/* SECTION Projects */

/* Titles are position absolute to the parents div  */
.projects {
  height: 220vh;
}

.project-one {
  height: 120vh;
  padding-left: 10vh;
  padding-top: 13vh;
}

.project-one-text{
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.project-one-title{
 /* font-size: 20px; */
 /* font-weight: 200; */
}

.project-one-description {

  font-weight: 200;
  font-size: 20px;
}

.project-one-type {
  font-size: 25px;
}

.project-one-source {
  font-size: 20px;
}

.project-one-visit {
  
  font-size: 20px;
}

.project-one-photos {
  position: relative;
  height: 277vh;
}

.project-one-img-one {
  position: absolute;
  height: 360px;
  top: 25vh;
  left: 3vw;
}

.project-one-img-two {
  position: absolute;
  height: 389px;
  top: 81vh;
  left: 5vw;
}

.project-one-img-three {
  position: absolute;
  height: 276px;
  top: 51vh;
  left: 25vw;
}

.project-one-img-four {
  position: absolute;
  height: 300px;
  top: 94vh;
  left: 15vw;
}

.project-two {
  height: 130vh;
  padding-left: 10vh;
  padding-top: 36vh;
}

.project-two-text{
  position: relative;
}

.project-two-description {
  font-size: 20px;
}

.project-two-type {
  font-size: 25px;
  font-weight: 900;
}

.project-two-source {
  font-size: 20px;
}

.project-two-visit {
  font-size: 20px;
}

.project-two-photos {
  position: relative;
  height: 277vh;
}

.project-two-img-one {
  position: absolute;
  height: 360px;
  top: 25vh;
  left: 3vw;
}

.project-two-img-two {
  position: absolute;
  height: 389px;
  top: 81vh;
  left: 5vw;
}

.project-two-img-three {
  position: absolute;
  height: 276px;
  top: 51vh;
  left: 25vw;
}

.project-two-img-four {
  position: absolute;
  height: 300px;
  top: 94vh;
  left: 15vw;
}

/* SECTION Skills */
.skills {
  height: 160vh;
  padding-top: 60vh;
  position: relative;
}
.skills-title{
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  top: 50%;
  left: -40vw;
  user-select: none;
}

/* SECTION Contact */
.contact {
  min-height: 70vh;
}

img {
  height: 2.3em;
  object-fit: scale-down;
  object-position: center;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.form-size {
  width: 43%;
}

textarea {
  resize: none;
}

/* SECTION Github/LinkedIn */
.logo-img {
  height: 3.3em;
}

.logos {
  position: fixed;
  top: 75vh;
  left: 1vw;
  opacity: 55%;
}