@import "./assets/scss/main.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

header {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}
main {
    font-family: 'Roboto Mono', monospace
}

footer {
    font-family: 'Roboto Mono', monospace;

    /* a {
    color: black;
  } */
}

.home {
    display: grid;
    height: 80vh;
    place-content: center;
    text-align: center;
    user-select: none;
}
.about-me {
    min-height: 120vh;
    position: relative;
}

.about-title {
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    opacity: 8%;
    position: absolute;
    top: 30vh;
    right: 20px;
}

.about-text {
    position: absolute;
    top: 39vh;
    left: 900px;
}