@import "./assets/scss/main.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


header {
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
  padding: 30px;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

main {
  font-family: 'Roboto Mono', monospace
}

footer {
  font-family: 'Roboto Mono', monospace;
}

body {
  overflow-x: hidden;
}

.home {
  display: grid;
  height: 80vh;
  place-content: center;
  text-align: center;
  user-select: none;
}
.title-text {
  font-weight: 600;
}

/* SECTION About Me */
.about-me {
  min-height: 115vh;
  position: relative;
}
.about-group {
  padding-top: 20%;
}

.about-title {
  font-family: 'Oswald', sans-serif;
  font-size: 185px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  left: -50vw;
  user-select: none;
}

.about-text {
  /* font-family: 'Oswald', sans-serif; */
  position: absolute;
  font-weight: 500;
  font-size: 25px;
  margin-top: 40vh;
  right: -100vw;
}

.info-text {
  font-size: 20px;
}

.project-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 185px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  /* left: 88vw; */
  user-select: none;
  margin-top: 60vh;
}

/* SECTION Projects */

/* Titles are position absolute to the parents div  */
.projects {
  height: 220vh;
}

.project-one {
  height: 120vh;
  padding-left: 10vh;
  padding-top: 13vh;
}

.project-one-text{
  font-family: 'Oswald', sans-serif;
  position: relative;
  max-height: 100vh;
}

.project-one-description {
  font-weight: 200;
  font-size: 20px;
}

.project-one-type {
  font-size: 25px;
}

.project-one-source {
  font-size: 20px;
  padding-right: 2em;
  transition: transform 250ms;
}

.project-one-source:hover{
  transform: translateY(-5px);
}

.project-one-visit {
  font-size: 20px;
}

.project-one-photos {
  position: relative;
  height: 277vh;
}

.project-one-img-one {
  position: absolute;
  height: 360px;
  top: 25vh;
  left: 3vw;
}

.project-one-img-two {
  position: absolute;
  height: 389px;
  top: 81vh;
  left: 5vw;
}

.project-one-img-three {
  position: absolute;
  height: 276px;
  top: 51vh;
  left: 25vw;
}

.project-one-img-four {
  position: absolute;
  height: 300px;
  top: 94vh;
  left: 15vw;
}

.project-two {
  height: 130vh;
  padding-left: 10vh;
  padding-top: 36vh;
}

.project-two-text{
  font-family: 'Oswald', sans-serif;
  position: relative;
  max-height: 100vh;
}

.project-two-description {
  font-weight: 200;
  font-size: 20px;
}

.project-two-type {
  font-size: 25px;
}

.project-two-source {
  font-size: 20px;
  padding-right: 2em;
  transition: transform 250ms;
}

.project-two-source:hover{
  transform: translateY(-5px);
}

.project-two-visit {
  font-size: 20px;
}

.project-two-photos {
  position: relative;
  height: 277vh;
}

.project-two-img-one {
  position: absolute;
  height: 360px;
  top: 25vh;
  left: 3vw;
}

.project-two-img-two {
  position: absolute;
  height: 389px;
  top: 81vh;
  left: 5vw;
}

.project-two-img-three {
  position: absolute;
  height: 276px;
  top: 51vh;
  left: 25vw;
}

.project-two-img-four {
  position: absolute;
  height: 300px;
  top: 94vh;
  left: 15vw;
}

/* SECTION Skills */
.skills {
  height: 140vh;
  padding-top: 60vh;
  position: relative;
}

.skills-title{
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  top: 60%;
  user-select: none;
}

.skills-column p{
  font-size: 40px;
  font-weight: 600;
}

.skills-column ul li{
  font-size: 25px;
  font-weight: 400;
  margin-top: 1vh;
}

/* SECTION Contact */
.contact{
  position: relative;
}
.contact-title{
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  font-weight: 500;
  opacity: 7%;
  position: absolute;
  user-select: none;
  /* right: -40vh; */
}
.contact {
  min-height: 70vh;
}

.contact-img {
  height: 18vh;
  object-fit: scale-down;
  object-position: center;
  margin-top: 20vh;
  margin-right: 4em;
  margin-left: 4rem;
  transition: transform 250ms;
}
.contact-img:hover{
  transform: translateY(-10px);
}

/* SECTION Github/LinkedIn */
.logo-img {
  height: 4em;
}

.logos {
  position: fixed;
  top: 75vh;
  left: 1vw;
  opacity: 55%;
}

.footer-text{
  font-size: 20px;
}

footer a{
  transition: transform 250ms;
}

footer a:hover{
  background-color: #555;
  color: white;
  transform: translateY(-10px);
}
